@import url("colors.css");

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Arimo Nerd Font";
}

window#waybar {
    font-size: 13px;
    background-color: @background;
    color: @foreground;
}

.modules-left {
    background-color: @background;
    padding-right: 35px;
}
.modules-center {
    padding: 0;
    margin: 0;
    background-color: @background;
}
.modules-right {
    background-color: @background;
    padding-left: 35px;
}

.modules-left, .modules-center, .modules-right {
    /*margin-left: 8px;*/
    /*margin-right: 8px;*/
    /*border-radius: 16px;*/
    /*background-color: @grey;*/
}

#cpu, #memory, #pulseaudio, #battery, #custom-pa-mute, #custom-camera-blank, #idle_inhibitor, #tray, #custom-status-checker {
    margin: 0 8px;
}

#workspaces {
}

#workspaces button, #idle_inhibitor, #custom-pa-mute, #custom-camera-blank {
    border: none;
    background-color: transparent;
    color: @foreground;
    box-shadow: none;
    /*border-radius: 16px;*/
    transition: background-color 100ms ease, color 100ms ease;
    min-width: 32px;
    min-height: 32px;
    padding: 0;
    font-weight: normal;
    border-radius: 0;
}

#clock.time {
    margin: 0 14px 0 0;
}
#custom-kanji-day {
    margin: 0;
    color: @primary;
    /*border-radius: 16px;*/
}
#clock.date {
    margin: 0 0 0 4px;
}

#custom-status-checker {
    font-stretch: ultra-condensed;
}

#workspaces button.urgent, #idle_inhibitor.activated, #custom-pa-mute.muted, #custom-camera-blank.blank {
    background-color: @third;
    color: @secondary;
}

#custom-pa-mute.muted, #custom-camera-blank.blank {
    background-color: @grey;
}
    
#workspaces button:hover {
    color: @secondary;
    background-color: transparent;
}

#workspaces button:hover label {
    text-shadow: none;
}

#workspaces button.active {
    color: @primary;
}

#workspaces button.empty {
    opacity: 0.5;
}
